<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mandalseva.notification">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" />


    <application

        tools:replace="android:label"

        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logoimg"
        android:label="MandalSeva"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewDataMandal"
            android:theme="@style/AppTheme.FullScreen"></activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.FullScreen"></activity>
        <activity
            android:name=".SignIn"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".UploadInfo"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ShowData"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ChatActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ChatConversationActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".EnlargeImageView"
            android:theme="@style/AppTheme.FullScreen" />
        </application>

</manifest>